<head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}

    {{ if not .Site.Params.OpenGraph.hide }}
    <meta name="og:site_name" content="{{ .Site.Title }}">
    <meta name="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
    <meta name="og:url" content="{{ .Permalink }}">
    {{ if not .Site.Params.avatar.hide }}
    {{ if eq .Site.Params.sidebar.use_remote_avatar true }}
    <meta name="og:image" content="{{ .Site.Params.sidebar.avatar }}">
    {{ else }}
    <meta name="og:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}">
    {{ end }}
    {{ end }}
    {{ end }}

    {{ if .Site.Params.sidebar.twitter}}
    <meta name="twitter:site" content="summary">
    <meta name="twitter:creator" content="@{{ .Site.Params.sidebar.twitter }}">
    <meta name="twitter:title" content="{{$.Params.title}}">
    <meta name="twitter:description" content="{{$.Params.description}}">
    <meta name="twitter:image" content="{{$.Params.featured_image}}">
    {{ end }}

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}

    {{ template "_internal/google_analytics.html" . }}

    <!-- TODO: Move js and css paths to config? -->
    <!-- TODO: Move js dependencys to static folder via npm or yarn? -->

    <!-- baguettebox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" async></script>
    <script src="{{ "/js/gallery.js" | absURL }}"></script>
    <script src="{{ "/js/hide_mouse_cursor.js" | absURL }}"></script>

    <!-- lazyload -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ "/css/main.css" | absURL }}" type="text/css" media="screen" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

</head>