{{ define "main" }}
    <h1>{{ .Type }}</h1>
    {{ range .Pages }}
    <div>
        <p>
            <a href="{{ .Permalink }}">{{ .Title }} from {{.Date.Format .Site.Params.DateForm}}<br></a>
            {{ with .Summary }}
                Summary: {{ . }}<br>
            {{ end }}
        </p>
        <a href="{{ .Permalink }}">
            {{ with .Page.Resources.ByType "image" }}
                {{ range first 3 . }}
                    {{ $scaled := .Fill "300x225 center" }}
                    <img class="thumbnail" src="{{ $scaled.Permalink }}">
                {{ end }}
            {{ end }}
        </a>

        <hr>

    </div>
    {{ end }}
{{ end }}