{{ define "main" }}

    <h1>{{ .Title }}</h1>

    Date: {{.Date.Format "2006-01-02" }}<br>
    {{ with .Summary }}
        Summary: {{ . }}<br>
    {{ end }}

    {{ $images := .Page.Resources.ByType "image" }}
    {{ $viewMinutes := math.Round (mul (len $images) 0.5) }}
    {{ if lt $viewMinutes 1.0 }}{{ $viewMinutes = 1 }}{{ end }}
    Viewing time: ~{{ $viewMinutes }} min.
    {{ if .Params.tags }}
    <div class="tags">
        Tags:
        {{range .Params.tags}}
        <a class="tag-link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{end}}
    </div>
    {{end}}

    {{ .Content }}

    <div class="gallery">
        {{ with .Page.Resources.ByType "image" }}
            {{ range . }}
                {{ partial "responsive-image-gallery" (dict "Site" $.Site "image" . "title" $.Title) }}
            {{ end }}
        {{ end }}
    </div>

{{ end }}