<div class="split-bio">

  <div id="projects" class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          <p>Latest commit</p>
          <div id="latest-commit">
            <a class="commit-title nice-link" href=""></a>
            <br>
            <span style="font-size: 12px">
              <span class="commit-date"></span> in <a class="repo-title" href=""></a>
            </span>
          </div>
          <br>
          <a href="https://gitstalk.netlify.com/steinbrueckri">Stalk me</a>
        </div>
      </div>
    </div>
</div>
